* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Karantina";
    src: local("Karantina-Regular"), url("../font/Karantina-Regular.ttf") format("truetype") ;
}

.karanrina {
    font-family: "Karantina", sans-serif;
    font-style: normal;
    font-weight: 400;
}

.flex {
    display: inline-flex;
}

.wrap {
    flex-wrap: wrap;
}

.flex-col {
    flex-direction: column;
}

.text-base {
    font-size: 18pt;
}

.text-lg {
    font-size: 1.125rem;
}

.text-xl {
    font-size: 1.25rem;
}

.text-2xl {
    font-size: 1.5rem;
}

.text-3xl {
    font-size: 1.875rem;
}

.text-4xl {
    font-size: 2.25rem;
}

.text-center {
    text-align: center;
}

.pl-2 {
    padding-left: 0.5rem;
}

.pr-2 {
    padding-right: 0.5rem;
}

.input-reset {
    display: block;
    border: none;
    outline: none;
}

.one-line {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
}

.h-screen {
    height: 100vh;
}

.w-screen {
    width: 100vw;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.gap-20 {
    gap: 20px;
}

.gap-10 {
    gap: 10px;
}

.h-400 {
    height: 400px;
}

.h-450 {
    height: 450px;
}
