.task.input-table table {
    width: 600px;
}

.player.input-table table {
    width: 300px;
}

.input-table {
    --index-width:  20px;
    --button-width: 18px;

    display: inline;
    table-layout: fixed;
    border-collapse: collapse;
}

.input-table tbody {
    display: table;
    width: 100%;
}

.input-table input {
    display: block;
    border: none;
    outline: none;
    width: 100%;
    background-color: inherit;
}

.input-table input::placeholder {
    color: #ffffff;
}

.input-table tr, input {
    font-family: "Karantina", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18pt;
}

.input-table td:nth-child(1) {
    width: var(--index-width);
}

.input-table.task td:nth-child(2) {
    width: calc(600px - var(--index-width) - var(--button-width));
}

.input-table.player td:nth-child(2) {
    width: calc(300px - var(--index-width) - var(--button-width));
}

.input-table td:nth-child(2) {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.input-table td:nth-child(3) {
    width: var(--button-width);
}